{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Shopping Bag</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bag_items %}
            <tr>
                <td>
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50">
                    {{ item.product.name }}
                </td>
                <td>${{ item.product.price }}</td>
                <td>
                    <form class="update-form" action="{% url 'update_bag' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product_id }}">
                        <button type="button" class="decrement-btn">-</button>
                        <input type="number" name="quantity" value="{{ item.quantity }}" class="quantity-input">
                        <button type="button" class="increment-btn">+</button>
                    </form>
                </td>
                
                <td id="subtotal-{{ item.product_id }}">${{ item.subtotal }}</td>
                
                <td>
                    <form class="remove-form" action="{% url 'remove_from_bag' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product_id }}">
                        <button type="button" class="remove-btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Bag Total:</td>
                <td id="bag-total">${{ total }}</td>
            </tr>
            <tr>
                <td colspan="3">Grand Total:</td>
                <td id="grand-total">${{ grand_total }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'products' %}" class="btn btn-outline-secondary">Keep Shopping</a>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Secure Checkout</a>
</div>
{% endblock %}




{% block postloadjs %}
<script src="{% static 'bag/bag.js' %}"></script>
{% endblock %}
