{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-4">Thank You</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    Your order has been successfully processed. A confirmation email will be sent to <strong>{{ order.email }}</strong>.
                </div>
            </div>
        </div>

        <div class="order-confirmation-wrapper p-4 border rounded">
            <h5 class="mb-4">Order Information:</h5>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Order Number</div>
                <div class="col-6 text-md-right">{{ order.order_number }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Order Date</div>
                <div class="col-6 text-md-right">{{ order.date }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Order Total</div>
                <div class="col-6 text-md-right">${{ order.order_total }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Delivery</div>
                <div class="col-6 text-md-right">${{ order.delivery_cost }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Grand Total</div>
                <div class="col-6 text-md-right">${{ order.grand_total }}</div>
            </div>

            <h5 class="mt-4 mb-3">Order Details:</h5>
            {% for item in order.lineitems.all %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">{{ item.product.name }}</div>
                <div class="col-6 text-md-right">{{ item.quantity }} @ ${{ item.product.price }} each</div>
            </div>
            {% endfor %}

            <h5 class="mt-4 mb-3">Delivering To:</h5>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Full Name</div>
                <div class="col-6 text-md-right">{{ order.full_name }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Address 1</div>
                <div class="col-6 text-md-right">{{ order.street_address1 }}</div>
            </div>
            {% if order.street_address2 %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Address 2</div>
                <div class="col-6 text-md-right">{{ order.street_address2 }}</div>
            </div>
            {% endif %}
            {% if order.county %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">County</div>
                <div class="col-6 text-md-right">{{ order.county }}</div>
            </div>
            {% endif %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Town or City</div>
                <div class="col-6 text-md-right">{{ order.town_or_city }}</div>
            </div>
            {% if order.postcode %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Postal Code</div>
                <div class="col-6 text-md-right">{{ order.postcode }}</div>
            </div>
            {% endif %}
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Country</div>
                <div class="col-6 text-md-right">{{ order.country }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-6 text-black font-weight-bold">Phone Number</div>
                <div class="col-6 text-md-right">{{ order.phone_number }}</div>
            </div>
        </div>

        {% if save_info %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="save-info" name="save_info" checked>
                    <label class="form-check-label" for="save-info">Save this information to my profile for future orders</label>
                </div>
                <button type="submit" class="btn btn-primary">Save Info</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
