{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>{{ product.name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-white py-4">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'default_product.jpg' %}" class="img-fluid" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <h2 class="my-3">{{ product.name }}</h2>
                {% if product.category %}
                <p class="card-text text-success">
                    <em>Category: 
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-success">
                            {{ product.category.friendly_name }}
                        </a>
                    </em>
                </p>

                {% endif %} 
                <p><strong>Price:</strong> ${{ product.price }}</p>
                <p><strong>Description:</strong> {{ product.description }}</p>
                {% if product.rating %}
                    <p><strong>Rating:</strong> {{ product.rating }}/5</p>
                {% endif %}
                <form action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <label for="size"><strong>Size:</strong></label>
                    <select name="size" id="size" class="form-control mb-3">
                        {% if sizes %}
                            {% for size in sizes %}
                                <option value="{{ size }}">{{ size }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">No sizes available</option>
                        {% endif %}
                    </select>
                    <label for="quantity"><strong>Quantity:</strong></label>
                    <input type="number" name="quantity" value="1" min="1" max="99" id="id_qty_{{ product.id }}">
                    
                    <a href="{% url 'products' %}" class="btn btn-outline-black">
                        <i class="fas fa-chevron-left"></i> Keep Shopping
                    </a>
                    <button type="submit" class="btn btn-black">Add to Bag</button>
                    
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}
